<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9f3494161b.js" crossorigin="anonymous"></script>
    <script src="js/home.js" defer></script>
    <title>수강신청 시스템</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fas fa-graduation-cap"></i>
            <a href="home">수강신청 시스템</a>
        </div>

        <ul class="navbar_menu">
            <li><a href="#">종합시간표 조회</a></li>
            <li><a href="#">수강신청내역</a></li>
            <li><a href="#">수강신청</a></li>            
        </ul>

        <ul class="navbar_user">
            <li><a href="login">로그인</a></li>
            <li><a href="register">회원가입</a></li>
        </ul>

        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
</body>
</html>