<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="EUC-KR">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home_.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9f3494161b.js" crossorigin="anonymous"></script>
    <script src="js/home_.js" defer></script>
    <title>수강신청 시스템</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fas fa-graduation-cap"></i>
            <a href="home_">수강신청 시스템</a>
        </div>

        <ul class="navbar_menu">
            <li><a href="timeTable">종합시간표 조회</a></li>
            <li><a href="appliedLecture">수강신청내역</a></li>
            <li><a href="applyLecture">수강신청</a></li>            
        </ul>

        <ul class="navbar_user">
            <li><a href="#" id="user_info"></a></li>
            <li><a href="home">로그아웃</a></li>
        </ul>

        <a href="#" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
</body>
</html>