body {
    margin: 0;
    font-family: 'Source Sans Pro';
    background-image: url('../img/banner.jpg');
    background-repeat : no-repeat;
    background-size : cover;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bbdefb;
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 32px;
}

.navbar_logo a {
    color: black;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: white;
    border-radius: 4px;
}

.navbar_user {
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0;
}

.navbar_user li {
    padding: 8px 12px;
}

.navbar_user li:hover {
    background-color: white;
    border-radius: 4px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 32px;
    color: var(--accent-color);
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_user {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_user.active {
        display: flex;
    }

}